@model TaskList.Models.Task

@{
    ViewBag.Title = "タスク詳細";
}

<h2>タスク詳細</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("削除", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("タスク一覧に戻る", "Index")
</p>
